body {
  background: url("https://firebasestorage.googleapis.com/v0/b/bidkoi-16827.appspot.com/o/main-background.png?alt=media&token=a4c0bd1f-f36f-49e8-8390-dd447662cc4d");

  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(254, 254, 254, 0.4);
}

.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
  padding: 20px;
}

.siteFooter {
  background-color: #f5f5f5;
  padding: 15px 20px;
  text-align: center;
}

.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}
