body {
    background: linear-gradient(to right, #0051ff22,#ff01a238, #ff000039), url("D:\Ky5\BidKoi\BidKoi\KoiAuction\src\assets\Picsart_24-09-23_21-55-02-339.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
    background-repeat: no-repeat;
  }