body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("D:\Ky5\BidKoi\BidKoi\KoiAuction\src\assets\Picsart_24-09-25_16-28-33-038.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

