.body {
  padding-top: 100px;
  padding-left: 30px;
  height: 1000px;
}

.auctionsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin-left: 5%;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color:#15171f;
  line-height:
32px
}

.time {
  display: flex;
  width: 300px;
}

.time p {
  width: 140px;
}

.auctionTitle {
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo cột */
}
.Button {
  background-color: #7eaac733;
  border-radius: 24px;
  align-items:center;
  color: #356483;
  display: flex;
  font-family: Montserrat;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  padding: 9px 20px;
  text-align: center;
}
