.koiInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 18px 14px;
  gap: 20px;
  width: 100%;
}

.koiStar {
  display: flex;
  gap: 4px;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.paymentBox {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: popIn 0.4s ease-out;
}

.paymentBox h3 {
  margin-bottom: 15px;
}

.paymentBox p {
  margin-bottom: 20px;
}

.paymentButton {
  margin-top: 5px;
  margin-left: auto;
  display: block;
  text-align: right;
}

.warningText {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: linear-gradient(135deg, #ffeded, #e7eaef);
  color: #4685af;
  font-weight: bold;
  border: 1px solid #6ba5cb;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.bellIcon {
  display: inline-block;
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
