.custome-card {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
    background-color: #e9eaed;
}
.BidinPut{
    display: flex;
justify-content: space-around;
align-items: center;
}

.custom-card .ant-card-head {
    font-size: 30px;
}