.table-container {
    background-color: #e9eaed;
    display: flex;
  flex-direction: column;   
    padding: 16px 16px 0px;
    border-radius: 24px;
    gap: 16px;
}
.table-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detail-item{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    width: 48%;
    border-radius: 24px;
    background-color:   #cccdd3;
    align-items: center;
}
.table-details{
display: flex;
flex-wrap: wrap;
gap: 16px;
justify-content: center; 
padding-bottom: 24px;
}
.KoiTable{}

.card-number{
    
    height: 60px;
    background-color: #7eaac733;
    border-radius: 24px;
    padding: 4px 12px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    display: flex;
    gap: 5px;
    color: #356483;
}

.Status{
    gap: 16px;
    height: 60px;
    background-color: #7eaac733;
    border-radius: 24px;
    padding: 4px 12px;
    align-items: center;
    justify-content: center;
    color: #356483;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}
.table-info{
    display: flex;
    gap:16px
}